$primary: #f4731f;
$primary-orange: #f4731f;
$primary-grey: #93c5fd;

$secondary-medium: #f89b5c;
$secondary-light: #fbb584;
$secondary-pale: #fde3d2;

$neutrals-block: #000000;
$neutrals-dark-grey: #373535;
$neutrals-medium-grey: #5c5c5c;
$neutrals-divider-grey: #d1d1d1;

$success: #2da85e;
$error: #ff4e4e;
$warning: #f1c40f;
$info: #3b82f6;

$text-primary: #000000;
$text-white: #ffffff;
$text-secondary: #5c5c5c;
$text-disabled: #d1d1d1;

$bg-surface-100: #ffffff;
$bg-surface-200: #f1f1f1;
$bg-surface-300: #d1d1d1;
$bg-surface-800: #373535;

$border-light: #d1d1d1;
$border-dark: #374151;
